
<div class="ui vertical labeled icon menu">
  <a class="item">
    <i class="gamepad icon"></i>
    Egg Level 1
  </a>
  <a class="item">
    <i class="heart icon"></i>
    Egg Level 2
  </a>
  <a class="item">
    <i class="star icon"></i>
    Egg Level 3
  </a>
</div>
